<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>  <%= title %></p>
    <div style="width: 100%; margin: 0 auto">
      <form method="POST" action="/update-item" style="border: .1rem solid #e0e0e0; padding: 1rem;">
        <input type="hidden" name="id" value="${id}" />
        <input type="text" name="name" value="${item.name}" required /><br />
        <input type="number" name="height" value="${item.height}" required /><br />
        <input type="number" step="0.01" min = "0" name="weight" value="${item.weight}" required /><br />
        <input type="date" name="birthdate" value="${item.birthdate}" required /><br />
        <select name="married" required>
          <option value="true" ${item.married === "Yes" ? "selected" : ""}>Yes</option>
          <option value="false" ${item.married === "Not Yet" ? "selected" : ""}>Not Yet</option>
        </select>
        <br />
        <button type="submit" class="submit-button">Save</button>
        <button type="button" class="cancel-button" onclick="window.location.href='/';">Cancel</button>
      </form>;
  </body>
</html>
