body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

form {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-check {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 15px;
}

button, .submit-button, .cancel-button {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.submit-button {
  background-color: #06c8ef;
}

.submit-button:hover {
  background-color: #028c5a;
}

.reset-button {
  background-color: #ffc007;
  margin-top: 10px;
}

.reset-button:hover {
  background-color: #1768c5;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

a[href="/add"] {
  display: block;
  width: fit-content;
  margin: 10px auto;
  text-align: center;
  padding: 10px 20px;
  color: white;
  background-color: #007BFF; 
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
.add-button {
   background-color: #2e70bc
}

a[href="/add"]:hover {
  background-color: #0056b3;
  opacity: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  color: #000;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f4f4f4;
}

th:last-child {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.update-button {
  padding: 8px 12px;
  background-color: #198753;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-button:hover {
  background-color: #df4250;
}

.delete-button:hover {
  background-color: #c82333;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

